<div class="modal fade" id="imagesModal" tabindex="-1" role="dialog" aria-labelledby="images">
  <div class="modal-dialog modal-lg" role="document"
    <div class="modal-content">
      <div id="carousel" class="carousel slide" data-interval="false">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <% @setup_images.each_with_index do |image, idx| %>
            <%= content_tag :div, image_tag(image.image_url,  :class => "img-responsive"),
              class: (idx == 0 ? 'item active' : 'item') %>
          <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <% @setup_images.each_with_index do |image, idx| %>
            <%= content_tag :li, image_tag(image.image.thumb.url,  :class => "img-responsive") , data: {
              target: '#carousel', slide_to: idx}, class: (idx == 0 ? 'active' : nil) %>
          <% end %>
        </ol>

      </div>

    </div>
  </div>
</div>
