<div class="vcenter">
  <h4>Recent Submissions</h4>
  <i class="fa fa-caret-down"></i>
</div>

<div class="grid row">
  <% @setups.each do |setup| %>
    <% unless setup.setup_images.blank? %>
      <div class="grid-item">
        <%= link_to image_tag(setup.setup_images.first.image.thumbBig.url, :class => "img-responsive"), setup %>
      </div>
    <% end %>
  <% end %>
</div>
