<div style="display:flex;align-items:center;">
  <h4>Recent Submissions</h4>
  <i class="material-icons">expand_more</i>
</div>

<div class="grid">
  <% @setups.each do |setup| %>
    <% if setup.setup_images %>
      <%= link_to image_tag(setup.setup_images[0].image.thumbBig.url), setup, :class => "grid-item" %>
    <% end %>
  <% end %>
</div>
