<div style="display:flex;align-items:center;">
  <h3>My Setups</h3>
</div>

<div class="grid">
  <% @setups.each do |setup| %>
    <% if setup.setup_images %>
      <%= link_to image_tag(setup.setup_images.first.image.thumbBig.url), setup, :class => "grid-item" %>
    <% end %>
  <% end %>
</div>
