<h4>Recent Submissions</h4>

<% @setups.each do |setup| %>
  <% if setup.setup_images %>
    <%= link_to image_tag(setup.setup_images[0].image_url), setup %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Setup', new_setup_path %>
