<h4>Recent Submissions</h4>

<% @setups.each do |setup| %>
  <% if setup.images[0] %>
    <%= link_to image_tag(setup.images[0]), setup %>
  <% end %>
<% end %>

<br>

<%= link_to 'New Setup', new_setup_path %>
