<div style="display:flex;align-items:center;">
  <h4>Recent Submissions</h4>
  <i class="material-icons">expand_more</i>
</div>

<br>

<div style="photo-grid">
  <% @setups.each do |setup| %>
    <% if setup.setup_images %>
      <span style="margin:6px;"><%= link_to image_tag(setup.setup_images[0].image.thumbBig.url), setup %></span>
    <% end %>
  <% end %>
</div>
