@import "bootstrap-sprockets";
@import "bootstrap";
@import "material_icons";

/* import other local scss files */
@import "variables";
@import "scaffolds";
@import "setups";

/* flatten bootstrap css */
.add-on,
.alert,
.badge,
.btn,
.dropdown-menu,
.label,
.modal,
.nav > .active > a,
.navbar,
.navbar-inner,
.popover,
.progress,
.table-bordered,
.tooltip,
.tooltip-inner,
.well,
input,
pre,
select,
textarea {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border-collapse: collapse !important;
  background-image: none !important;
}
