@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* import other local scss files */
@import "variables";
@import "helpers";
@import "buttons";
@import "navbar";
@import "login";
@import "setups";

html, body {
  max-width: 962px;
  margin: 0 auto;
  background-color: $bg;
  font-family: "Lato", "Open-Sans", sans-serif;
  font-weight: $regular;
  color: $gray;
}

textarea,
input:not([type=button]):not([type=reset]):not([type=submit]):not([type=file]) {
  padding: 8px;
  border: none;
  background-color: $blueShaded;
}

label {
  display: block;
}

.container {
  width: 70%;
}

@media (max-width: 768px) {
  .container {
    width: 98%;
  }
}

.link,
.link:hover {
  color: $bluePop;
}

.field {
  margin-top: 25px;
}

/* home page styles */
.grid {
  margin-top: 25px;

  .grid-item {
    @extend .col-xs-6, .col-sm-3, .col-md-2, .col-lg-2;
    margin-bottom: 20px;
  }
}

/* flash message styles */
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

/* flatten bootstrap css */
.add-on,
.alert,
.badge,
.btn,
.dropdown-menu,
.label,
.modal,
.nav > .active > a,
.navbar,
.navbar-inner,
.popover,
.progress,
.table-bordered,
.tooltip,
.tooltip-inner,
.well,
input,
pre,
select,
textarea {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

.add-on,
.alert,
.badge,
.dropdown-menu,
.label,
.modal,
.nav > .active > a,
.navbar,
.navbar-inner,
.popover,
.progress,
.table-bordered,
.tooltip,
.tooltip-inner,
.well,
pre,
select,
textarea {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
