@import "bootstrap-sprockets";
@import "bootstrap";
@import "material_icons";

/* import other local scss files */
@import "variables";
@import "scaffolds";
@import "buttons";
@import "setups";

/* flatten bootstrap css */
.add-on,
.alert,
.badge,
.btn,
.dropdown-menu,
.label,
.modal,
.nav > .active > a,
.navbar,
.navbar-inner,
.popover,
.progress,
.table-bordered,
.tooltip,
.tooltip-inner,
.well,
input,
pre,
select,
textarea {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  border-collapse: collapse !important;
  background-image: none !important;
}

.link {
  color: $bluePop;
}

.link:hover {
  color: $bluePop;
}

/* home page styles */

.photo-grid {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}


/* login page styles -- same styles for sign up */
.login {
  padding: 40px;
  color: $blueDark;

  h1 {
    font-weight: $black;
  }

  p {
    font-weight: $regular;
  }

  .well {
    margin: 30px;
  }
}
