input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-image: none;
  border: 0;
  margin: 20px 0;
  background-color: $accent;
  color: $white;
}

input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover {
  background-color: $accentHover;
  color: $white;
}

.button-group {
  @extend .vcenter;
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn {
  @extend .dark-shadow;
  background-image: none;
  border: 0;
  color: $white;
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btn:hover {
  border: 1px solid $accentHover;
  background-color: $accentHover;
  color: $white;
}

.btn-round {
  border-radius: 100%;
}

.btn-block + .btn-block {
  margin-top: -1px !important;
}

.btn-login {
  @extend .btn-accent;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  font-size: 16px;
  color: $white;
}

.btn-login:hover {
  background-color: $accentHover;
  color: $white;
}

.btn-accent {
  background-color: $accent;
  border: 1px solid $accent;
  color: $white;
}

.btn-accent-o {
  background-color: transparent;
  border: 1px solid $accent;
  color: $white;
}

.btn-favorite {
  @extend .vcenter;
  margin-top: 10px;
  padding-left: 0;
  background-color: transparent;
}

.btn-edit {
  @extend .btn-accent, .btn-round;
  display: block;
  margin-right: 10px;
}

.btn-add {
  @extend .btn-accent, .btn-round;
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 15px 20px;
  background-color: $cameo;
  border-color: $cameo;
}

.btn-add:hover {
  border: 1px solid lighten($cameo, 5%);
  background-color: lighten($cameo, 5%);
  color: $white;
}

.btn-remove {
  @extend .btn-accent, .btn-round;
  display: block;
  background-color: $red;
  border-color: $red;
  margin-top: -1px !important;
}

.btn-remove:hover {
  border: 1px solid lighten($red, 5%);
  background-color: lighten($red, 5%);
  color: $white;
}
