.setup-form {
  @extend .container, .text-center;
  max-width: 100%;
  margin-top: 30px;
  padding-top: 50px;
  color: $white;

  .setup-form-label {
    font-size: 24px;
    font-weight: $light;
    margin-bottom: 25px;
  }

  .setup-form-input {
    @extend .text-center;
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $accent;
    background-color: $bg;
    font-size: 24px;
    font-weight: $light;
    color: $white;
  }

  .setup-form-input:focus,
  .setup-form-input:active {
    @extend .text-center;
    border: 0;
    border-bottom: 1px solid $accent;
    background-color: $bg;
  }

  .setup-form-btn {
    @extend .dark-shadow;
    margin-top: 55px;
    margin-bottom: 25px;
    padding: 8px 45px;
    font-size: 18px;
  }
}

.images-form {
  @extend .container, .text-center;
  max-width: 100%;
  margin-top: 30px;
  padding-top: 50px;
  color: $white;

  .dropzone {
    margin-top: 40px;
    border: 2px dashed $accentMuted;
    background-color: transparent;
    color: $white;

    .dz-preview.dz-image-preview {
      background-color: transparent !important;
    }

    a {
      color: $accent;
    }
  }

  .images-form-label {
    font-size: 24px;
    font-weight: $light;
    margin-bottom: 25px;
  }

  .images-form-btn {
    @extend .dark-shadow;
    margin-top: 55px;
    margin-bottom: 25px;
    padding: 8px 45px;
    font-size: 18px;
  }

  .link {
    font-size: 14px;
    font-weight: $light;
  }
}

.parts-form {
  @extend .container, .text-center;
  max-width: 100%;
  margin-top: 30px;
  padding-top: 50px;
  color: $white;

  .form-inline {
    @extend .vcenter;
  }

  .form-group {
    margin-top: 15px;
    text-align: left;
  }

  .parts-form-label {
    font-size: 24px;
    font-weight: $light;
    margin-bottom: 25px;
  }

  .part-type-label {
    font-size: 14px;
    font-weight: $light;
    text-transform: uppercase;
  }

  .parts-form-input {
    width: 100%;
    outline: 0;
    border: 1px solid $accent;
    background-color: $bgAccent;
    color: $white;
    font-size: 14px;
    font-weight: $light;
  }

  .parts-form-input:focus,
  .parts-form-input:active {
    border: 1px solid $accent;
    background-color: $bgAccent;
  }

  .parts-form-btn {
    @extend .dark-shadow;
    margin-top: 55px;
    margin-bottom: 25px;
    padding: 8px 45px;
    font-size: 18px;
  }

  .link {
    font-size: 14px;
    font-weight: $light;
  }
}

.form-control {
  width: 100%;
  outline: 0;
  border: 1px solid $accent;
  background-color: $bgAccent;
  color: $white;
  font-size: 14px;
  font-weight: $light;
}

.edit-form {
  .field {
    margin-bottom: 50px;
  }

  .setup-name {
    width: 100%;
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid $accent;
    background-color: $bg;
    font-size: 32px;
    font-weight: $light;
    color: $gray;
    margin-top: 25px;
  }

  .setup-name:focus,
  .setup-name:active {
    border: 0;
    border-bottom: 1px solid $accent;
    background-color: $bg;
  }

  .part-name {
    font-size: 14px;
    font-weight: $light;
    text-transform: uppercase;
  }

  .form-label {
    @extend h2;
    margin-bottom: 15px;
    font-size: 24px;
  }

  .form-control {
    @extend .form-control;
    width: 300px;
  }

  .form-textarea {
    width: 100%;
    outline: 0;
    border: 1px solid $accent;
    background-color: $bgAccent;
    color: $white;
    font-size: 14px;
    font-weight: $light;
  }

  hr {
    margin-bottom: 40px;
  }

  .form-inline {
    margin-bottom: 15px;
  }

}

@media (min-width: 768px) {
  .setup-form {
    max-width: 450px;
  }

  .parts-form,
  .images-form {
    max-width: 750px;
  }
}
