/* Place this on a parent element to vertically
   center all children items */
.vcenter {
  display: flex;
  align-items: center;
}

/* Hides elememts in mobile and tablet views */
.hide-mobile {
  @extend .hidden-xs, .hidden-sm;
}

/* Placeholder styles */
.ph-image {
  background-color: $bgAccent;
}

/* Dark Shadow */
.dark-shadow {
  -webkit-box-shadow: 0px 0px 6px 0px rgba(4, 14, 31, 0.5) !important;
  -moz-box-shadow: 0px 0px 6px 0px rgba(4, 14, 31, 0.5) !important;
  box-shadow: 0px 0px 6px 0px rgba(4, 14, 31, 0.5) !important;
}
