.login {
  max-width: 350px;
  margin-top: 30px;
  text-align: center;
  color: $gray;

  p {
    font-size: 16px;
    font-weight: $light;
    letter-spacing: .5px;
  }

  .login-hero {
    @extend .col-md-7, .col-lg-8;
  }

  .login-form {
    @extend .col-xs-12, .col-sm-12, .col-md-5, .col-lg-4;;
  }

  .social-login-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;

    .fa-square {
      color: $bg;
    }
  }

  .social-login-form {
    margin-top: 40px;
    margin-bottom: 20px;

    form {
      padding: 5px 20px;
    }

    .btn-login {
      border-radius: 4px;
      @extend .dark-shadow;
    }
  }

  .social-login-buttons,
  .social-login-form form {
    margin-top: 15px;
    border-radius: 4px;
    background-color: $bgAccent;
  }

  .form-field:not(.first) {
    margin-top: 15px;
  }

  .login-input {
    width: 100%;
    border-radius: 4px !important;
    border: 1px solid $bgAccent !important;
    background-color: $bg !important;
  }

  .login-input:focus,
  .login-input:active {
    border: 1px solid $bluePop !important;
  }
}
