html, body {
  background-color: $bg;
  color: $gray;
  font-family: "Lato", "Open-Sans", sans-serif;
  font-weight: $regular;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.navbar {
  background-color: transparent;
  border: none;
  color: $gray;
  padding-top: 20px;

  .navbar-brand {
    padding-left: 0;
    color: $gray;
    font-size: 36px;
    font-weight: $black;

    span, {
      color: $bluePop;
    }
  }

  .navbar-brand:hover {
    color: $gray;
  }

  .navbar-text a {
    margin-left: 30px;
    color: $gray;
    font-size: 18px;
    text-transform: uppercase;
  }

  .navbar-link {
    color: $gray;
  }

  .navbar-link:hover {
    color: $bluePop;
    text-decoration: none;
  }
}
