// Place all the styles related to the setups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.setup-information {
  font-size: 16px;
  font-weight: $black;

  h1 {
    margin-top: 0;
    font-weight: $black;
    text-transform: capitalize;
  }

  a {
    color: $bluePop;
    font-weight: $bold;
  }
}

.setup_images {
  height: 33%;
  overflow: hidden;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  margin-left: -15px;

  a:not(:last-child) {
    margin-bottom: 10px;
  }
}

.btn-favorite {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding-left: 0;
  background-color: transparent;

  i {
    margin-right: 8px;
    color: #FA588F;
  }
}

.btn-favorite:hover {
  color: $bluePop;
}

.setup-description {
  margin-top: 20px;
  margin-bottom: 30px;
}

.carousel-indicators.carousel-indicators li {
  height: 100%;
  width: auto;
  border: 2px solid transparent;
  border-radius: 0;
}
.carousel-indicators.carousel-indicators .active {
  background-color: transparent;
  border-color: $gray;
}

.setup-parts {

  .list-group-item {
    background-color: transparent;
    padding: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5px solid $bgAccent;
  }

  p {
    margin: 0;
  }

  .part-type {
    text-transform: uppercase;
    font-weight: $light;
    color: $gray;
  }

  .part-name a {
    color: $bluePop;
    letter-spacing: 1px;
  }
}
