.setup-information {
  font-size: 16px;
  font-weight: $black;

  h1 {
    margin-top: 0;
    font-weight: $black;
    text-transform: capitalize;
  }

  a:not(.btn) {
    color: $accent;
    font-weight: $bold;
  }
}

.setup-images {
  .hero-image img {
    max-height: 450px;
    width: 100%;
  }

  .thumbnails {
    display: flex;
    overflow-x: scroll;
    margin-top: 15px;
    margin-bottom: 25px;

    a {
      @extend .col-xs-2;
      padding: 0;
      padding-right: 10px;
    }
  }

}

.setup-description {
  font-size: 13px;
  font-weight: $light;
  letter-spacing: 1px;

  .fa-frown-o {
    margin-left: 8px;
  }
}

.setup-description {
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal-content {
  .img-responsive,
  .thumbnail > img,
  .thumbnail a > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
  }

  .carousel-indicators.carousel-indicators li {
    height: 100%;
    width: auto;
    border: 2px solid transparent;
    border-radius: 0;
  }
  .carousel-indicators.carousel-indicators .active {
    background-color: transparent;
    border-color: $white;
  }
}

.setup-parts {
  .list-group-item {
    background-color: transparent;
    padding: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5px solid $bgAccent;
  }

  p {
    margin: 0;
  }

  .part-type {
    text-transform: uppercase;
    font-weight: $light;
    color: $white;
  }

  .part-name a {
    color: $accent;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}
