/* colors */
$big-stone: #303D48;
$jelly-bean: #497A91;
$friar-grey: #8D8A81;
$tranquil: #DFE3E2;
$viking: #54AAC8;
$cameo: #CCA581;

$bg: #242e37;
$bgAccent: #3A4A58;
$bluePop: #54AAC8;
$blueShaded: #8D8A81;
$blueDark: #303D48;
$gray: #DFE3E2;
$slate: #8f92a1;


/* font-weights */
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
